@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #f97316;
}

.bg-indigo-gradient {
  background: linear-gradient(135deg, #6366f1 0%, #a855f7 100%);
}

.bg-orange-gradient {
  background: linear-gradient(135deg, #f97316 0%, #fbbf24 100%);
}

.bouncy {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
